
.signupdivcls {
    padding: 12px;
    text-align: justify;
    font-size: 1.714rem;
    margin-top: 20px;
    font-family:LatoSemibold; 
}

.divcls1 {
    padding: 10px;
    text-align: justify;
    margin-top: 20px;
    color: black;
}

.agbuttonenable{
  color:#fff; 
  background: #3834f0; 
  border:1px solid #5210bd;
  padding:0px 10px;
  line-height:2rem;min-width:65px;font-size:1rem;max-width:366px;}

.hideDivCls {
    padding: 10px;
    text-align: justify;
    margin-top: 20px;
    display: none;
}

.querycls{
  border-bottom:1px solid #3098b9 !important;font-family:LatoSemibold;
  font-size: 1.714rem;
}

.w125{width:125px}

.ffproxi_Bold{font-family:Latobold;}

.fontbold{font-weight: bold !important;}

.inp {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-color: #f6ffff;
    color: black;
}


.logintextcls{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: black;
}

  textarea {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #e9e9e9;
    resize: none;
    height: 120px;
    padding: 10px 20px;
  }

  textarea:focus{
    background-color: rgb(240, 241, 241);
  }

  .feedcls {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

  .feedcls::after {
    content: "";
    clear: both;
    display: table;
    width: 100%;

  }

  .twitterHeaderCls {
    font-family:'LatoRegular',Arial,Helvetica,sans-serif;
    font-size: 30px;
    background-color: #f9f9f9;
    font-style: normal;
    border:2px dashed #999;
    top: 5px;
    right: 5px;
    color: #0000FF;
    text-align: center;
  }

  .textfontcls {
    font-family: arial;
    border-top: 1px dashed #4635e2;
    border-bottom: 1px dashed #4635e2;
    border-left: 1px dashed #4635e2;
    border-right: 1px dashed #4635e2;
    font-size: 15px;
  }
  
  .timeCls1 {
    float: left;
    color: #999;
  }